/*untuk layar device berukuran sedang*/
@media screen and (max-width: 600px) {
  nav {
    display: block;
  }
  nav .menu {
    text-align: center;
  }
  .container {
    display: block;
  }
  .main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    overflow: auto;
    height: auto;
  }
}

/*untuk layar device berukuran besar*/
@media screen and (max-width: 992px) {
}
