@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  color: #454545;
}
header {
  display: inline;
}
nav {
  margin: 0px auto;
  padding: 5px 0;
  position: sticky;
  top: 0;
  display: flex;
  /*
  box-shadow: 0 1px 1px rgba(50, 50, 50, 0.1);
  background-color: white;
  */
  background-color: transparent;
  z-index: 100;
  transition-duration: 0.7s;
}
nav .logo {
  text-align: center;
}
nav .menu {
  text-align: right;
  padding-right: 60px;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}
nav a {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}
nav a:hover {
  color: #ff9a00;
}
nav a:active {
  color: #d47f00;
}

main {
  width: 80%;
  margin: 0px auto;
  overflow: auto;
}

.container {
  width: 100%;
  min-height: 100px;
  display: flex;
}

figure {
  height: 150px;
}
figure img {
  width: 100%;
  height: 150px;
}

/* ----------- HERO SECTION ------------- */
.hero {
  height: 450px;
  min-height: 300px;
  box-sizing: border-box;
}
.abstract-svg {
  background-image: url("../img/Liquid-Cheese.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1000;
  width: 100%;
  height: 520px;
}
.hero-title {
  flex-basis: 50%;
  padding: 50px 0;
}
.hero-title h1 {
  font-size: 36px;
}
.hero-title p {
  margin-bottom: 30px;
  line-height: 1.7em;
  width: 75%;
  min-width: 50%;
}
.hero-image {
  flex-basis: 50%;
  padding: 20px;
  text-align: center;
}
.hero-image img {
  width: 100%;
  height: auto;
  border-color: blue 1px solid;
}

/* ----------- BOX ICON SECTION ------------- */
.featured-box {
  box-sizing: border-box;
  height: auto;
  padding: 0px 10%;
  margin: 30px 0px;
}

.card-icon {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  line-height: 1.7em;
}
.card-icon .head {
  background-color: #ff9a00;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto auto;
}
.card-icon .head img {
  width: 32px;
  height: auto;
}

.card-icon .title {
  margin-top: 5px;
  font-weight: 600;
}
.card-icon .subtitle {
  font-weight: 400;
  font-size: 10px;
  color: #9e9d9d;
}

/* ----------- PRODUCT SECTION ------------- */
.featured-product {
  box-sizing: border-box;
  height: auto;
  margin: 40px 0px;
  padding-top: 40px;
}

.article-title {
  text-align: center;
  padding: 0 80px;
  font-weight: 600;
}
.article-title p {
  line-height: 1.5rem;
  color: #7a7a7a;
  font-weight: 300;
}

/*.article-items {
}*/

.card-product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px 40px 5px 40px;
  margin: 20px;
  line-height: 1.7em;
}

.card-product .photo {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 225px;
}
.card-product .photo img {
  width: 100%;
  height: 225px;
  border-radius: 5px 40px;
}

.card-product .title {
  padding: 20px 30px 0px 30px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
}
/*.card-product .product-name {
}*/
.card-product .product-price {
  text-align: right;
  text-transform: uppercase;
}
.card-product .category {
  padding: 0px 30px;
  font-size: 10px;
}
.card-product .description {
  padding: 10px 30px;
}

/* ----------- TESTIMONIAL ------------- */
.featured-testimonial {
  padding-top: 40px;
}

.testimonial-items {
  height: auto;
  padding: 0 10%;
}

.card-icon .photo-client {
  border-radius: 50%;
  width: 75px;
  margin: 5px auto;
  height: 75px;
}
.card-icon .star-rating {
  margin: 5 auto;
  width: 50%;
  height: auto;
}

.card-icon .review {
  margin: 5 auto;
  font-weight: 600;
}

.card-icon .client-name {
  margin: 5 auto;
  font-weight: 800;
}

.card-footer {
  margin: 0 auto;
}

.profil-business {
  padding-top: 40px;
}

.profil-business h3 {
  text-align: left;
  color: #ff9a00;
}

.profil-business table {
  text-align: left;
  font-size: 12px;
}

/* ----------- OTHER ASSEST SECTION ------------- */
.float-left {
  float: left;
}
.float-right {
  float: right;
}

aside {
  /*
  margin: 0 auto;
  */
  padding: 10px 30px;
}
.width-25 {
  width: 25%;
}
.width-75 {
  width: 75%;
}
.width-50 {
  width: 50%;
}
.relative {
  position: relative;
}
.center-10 {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 10%;
}
.center-50 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.flex {
  display: flex;
}
.flex-justify-content {
  justify-content: space-between;
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-grow-2 {
  flex-grow: 2;
}
.flex-3-column {
  width: 32%;
}

.flex-basis-25 {
  flex-basis: 25%;
}
.flex-basis-50 {
  flex-basis: 50%;
}
.flex-basis-75 {
  flex-basis: 75%;
}
.flex-basis-100 {
  flex-basis: 100%;
}

.cta-button {
  font-size: 12px;
  padding: 10px 18px;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 20px;
  transition-duration: 0.4s;
}
.cta-primary {
  color: white;
  background-color: #ff9a00;
  border-color: #e38900;
  font-weight: 600;
}
.cta-primary:focus {
  color: white;
  background-color: #ff9a00;
  border-color: #d47f00;
  outline: 0;
}
.cta-primary:hover {
  color: white;
  background-color: #e38900;
  border-color: #e38900;
}
.cta-primary:active {
  color: white;
  background-color: #fde1b2;
  border-color: #d47f00;
}

.cta-order {
  font-size: 18px;
  padding: 12px 20px;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.cta-wa {
  color: white;
  background-color: #01e675;
  border-color: #01e675;
  font-weight: 600;
}
.cta-wa:focus {
  color: white;
  background-color: #01e675;
  border-color: #01e675;
  outline: 0;
}
.cta-wa:hover {
  color: white;
  background-color: #05c967;
  border-color: #05c967;
}
.cta-wa:active {
  color: white;
  background-color: #01e675;
  border-color: #01e675;
}

.cta-tokped {
  color: white;
  background-color: rgb(3, 172, 14);
  border-color: rgb(3, 172, 14);
  font-weight: 600;
}
.cta-tokped:focus {
  color: white;
  /*background-color: rgb(3, 172, 14);*/
  background: radial-gradient(circle, transparent 1%, rgb(3, 172, 14) 1%) center
    center / 15000% rgb(3, 172, 14);
  border-color: rgb(3, 151, 12);
  outline: 0;
}
.cta-tokped:hover {
  color: white;
  background-color: rgb(3, 151, 12);
  border-color: rgb(3, 151, 12);
}
.cta-tokped:active {
  color: white;
  background-color: rgb(135, 213, 139);
  border-color: rgb(135, 213, 139);
}

footer {
  text-align: center;
  vertical-align: center;
  padding-top: 25px;
  height: 50px;
  width: 100%;
  /*margin: 30px auto;*/
  margin: 0 auto 30px auto;
  box-shadow: 0px -1px 1px rgba(50, 50, 50, 0.1);
}
.order {
  padding-top: 20px;
  margin: 0 auto;
}
.pad-50 {
  padding-top: 70px;
}
.bg-color-arole {
  background-color: #932b82;
  color: white;
}

.center {
  margin: 0 auto;
}
.featured-order {
  box-sizing: border-box;
  height: auto;
  margin: 40px 0 0 0;
  padding-top: 40px;
  padding-bottom: 60px;
}

.featured-profile {
  box-sizing: border-box;
  height: auto;
  margin: 0;
  padding: 10px 0;
}

video {
  width: 100%;
  height: 450px;
}
