/*untuk layar device berukuran sedang*/
@media screen and (max-width: 600px) {
  nav {
    display: block;
  }
  nav .menu {
    text-align: center;
    padding: 10px 0;
  }
  .container {
    display: block;
  }
  .main {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero {
    overflow: auto;
    height: auto;
  }
  .flex-3-column {
    width: 100%;
  }
  .featured-testimonial {
    float: none;
    width: 100%;
  }
  .profil-business {
    float: none;
    width: 100%;
  }
  .article-items {
    display: block;
    width: 100%;
  }
  .center {
    margin: 0 auto;
    width: 50%;
  }
  video {
    width: 100%;
    height: auto;
  }
}

/*untuk layar device berukuran besar
@media screen and (max-width: 992px) {
}
*/
